<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">App courses</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/courses">Courses</a></li>
      <li><a href="add">Add courses</a></li>
    </ul>
  </div>
</nav>
